<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>
  <% if user.image.attached? %>
    <img src="<%=(url_for(user.image))%>" class="image" >
  <% end %>

</div>
